<a href="https://colab.research.google.com/github/aasb2/Classificador-de-Bayes-Ingenuo/blob/main/PROJETO/Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [235]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, CategoricalNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [236]:
url = 'https://raw.githubusercontent.com/aasb2/Classificador-de-Bayes-Ingenuo/main/DATASET/bank/bank-full.csv'
df = pd.read_csv(url,delimiter = ';')
#df.describe(include = 'all')
print(df.shape)

(45211, 17)

In [237]:
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [238]:
print(df['job'])

0          management
1          technician
2        entrepreneur
3         blue-collar
4             unknown
             ...
45206      technician
45207         retired
45208         retired
45209     blue-collar
45210    entrepreneur
Name: job, Length: 45211, dtype: object

In [239]:
le = preprocessing.LabelEncoder()

In [240]:
x = df.drop('y',axis =1)
columns = list(x)
for i in columns:
  x[i] = le.fit_transform(x[i])
y = le.fit_transform(df['y'])

In [241]:
x.head()

   age  job  marital  education  ...  campaign  pdays  previous  poutcome
0   40    4        1          2  ...         0      0         0         3
1   26    9        2          1  ...         0      0         0         3
2   15    2        1          1  ...         0      0         0         3
3   29    1        1          3  ...         0      0         0         3
4   15   11        2          3  ...         0      0         0         3

[5 rows x 16 columns]

In [242]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=5)

In [243]:
gnb = GaussianNB()
gnb.fit(x_train,y_train)
y_pred_gnb = gnb.predict(x_test)
print("Accuracy", accuracy_score(y_test,y_pred_gnb))

Accuracy 0.8373327435585536

In [244]:
cnb = CategoricalNB()
cnb.fit(x_train,y_train)
y_pred_cnb = cnb.predict(x_test)
print("Accuracy",accuracy_score(y_test,y_pred_cnb))

Accuracy 0.8852150834899922