<a href="https://colab.research.google.com/github/aasb2/Classificador-de-Bayes-Ingenuo/blob/main/PROJETO/Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [231]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [232]:
url = 'https://raw.githubusercontent.com/aasb2/Classificador-de-Bayes-Ingenuo/main/DATASET/bank/bank-full.csv'
df = pd.read_csv(url,delimiter = ';')
#df.describe(include = 'all')
print(df.shape)

(45211, 17)

In [233]:
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [234]:
print(df['job'])

0          management
1          technician
2        entrepreneur
3         blue-collar
4             unknown
             ...
45206      technician
45207         retired
45208         retired
45209     blue-collar
45210    entrepreneur
Name: job, Length: 45211, dtype: object

In [235]:
le = preprocessing.LabelEncoder()

In [236]:
age = np.asarray(le.fit_transform(df['age']))
job = np.asarray(le.fit_transform(df['job']))
marital = np.asarray(le.fit_transform(df['marital']))
education = np.asarray(le.fit_transform(df['education']))
default = np.asarray(le.fit_transform(df['default']))
balance = np.asarray(le.fit_transform(df['balance']))
housing = np.asarray(le.fit_transform(df['housing']))
loan = np.asarray(le.fit_transform(df['loan']))
contact = np.asarray(le.fit_transform(df['contact']))
day = np.asarray(le.fit_transform(df['day']))
month = np.asarray(le.fit_transform(df['month']))
duration = np.asarray(le.fit_transform(df['duration']))
campaign = np.asarray(le.fit_transform(df['campaign']))
pdays = np.asarray(le.fit_transform(df['pdays']))
previous = np.asarray(le.fit_transform(df['previous']))
poutcome = np.asarray(le.fit_transform(df['poutcome']))
y = np.asarray(le.fit_transform(df['y']))

In [237]:
x = np.asarray([age,job,marital,education,balance,housing,previous])
x= x.transpose()

In [238]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.3, random_state=109)

In [239]:
mnb = MultinomialNB()
mnb.fit(x_train,y_train)
y_pred = mnb.predict(x_test)

In [240]:
print("Accuracy", accuracy_score(y_test,y_pred))

Accuracy 0.7724859923326453